@media screen and (max-width:1023px){
    .home-contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 4.5rem;
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: 1024px){

    .home-contenido{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100vh;
    }
}

.home-body{
    height: 100vh;

    .opcion{
        margin-top: 2rem;
        transition: all 1s;
        border-radius: 1rem;
        background-color: rgb(40, 0, 50);

        .btn{
            background-color: white;
            font-weight: bold;
            color: black;

            &:hover{
                border: 1px solid orangered;
            }
        
            &:active{
                background-color: orangered;
                color: white;
            }
        }
        
        &:hover{
            @extend .shadow;
        }
    }
}