.contenido{
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 3rem;

    .video-container{
        @extend .flex-column-center;
        width: 100%;
        padding-top: 2rem;

        .titulo-juego{
            color: white;
            text-shadow: 0 0 15px fuchsia;
            text-align: center;
            margin-bottom: 1.2rem;
            font-size: 40px;
            text-decoration: underline;
        }

        .video{
            width: 95%;
        }
    }

    //DESCRIPCION DE JUEGO
    .descripciones{
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;
        justify-content: center;
        width: 100%;

        .accordion{
            width: 95%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .accordion-item{
            background-color: black;
            color: white;
            border-radius: 10px;
        }

        .accordion-button{
            font-size: x-large;
            font-weight: bold;
            color: fuchsia;
            background-color: black;
        }

    }
}

footer{
    @extend .boton-volver;
}